*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Exo 2', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: #15638F;
    
}

.card {
  margin: 0 auto;
  width: 200px;
  background: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.card__content {
  padding: 16px 19px 17px 16px;
}

.card__title, .card__btn {
  font-weight: 700;
}

.card__text, .card__btn {
  font-size: 12px;
  line-height: 16px;
}

.card__title, .card__text {
  color: #000000;
}

.card__title{
  padding-bottom: 16px;
}

.card__text {
  padding-bottom: 15px;
}

.card__btn {
  width: 98px;
  padding: 7px 24px;
  color: #FFFFFF;
  background: #2797B2;
  border-radius: 50px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.card__btn:hover {
  background-color: lightblue;
  color: black;
}
.card__title:hover {
  background-color: #2797B2;
  color: whitesmoke;
  text-align: center;
  text-decoration: underline;
  padding: 5px 15px 10px;
  border-radius: 20px;
}
